
body {
  margin: 0;
  background-color: rgb(102,102,102);
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer{
  background-color:transparent;
}

.md-block .md-p li {
  list-style: none;
  margin-left: 8px;
}

.md-block .md-p h3 {
  font-family: Josefin Sans, Helvetiva, sans-serif;
}

.md-block .md-p a {
  text-decoration: none;
  color: #9797ff;
}